body, html {
    height: 100%;
    margin: 0;

    background-image: url("res/game.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.title {
    z-index: 1;
    color: white;
    font-size: 2.5vmax;
    font-family: fantasy;
    position: absolute;
    left: 20%;
    top: 50%;
    -webkit-transform: translate(-20%, -50%);
    transform: translate(-20%, -50%);
}

a {
    color: white;
}

